@import url('https://fonts.googleapis.com/css2?family=Saira&family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');

:root {
    --bg-color: #202122;
}

::-webkit-scrollbar {
    width: 10px;
    /* Mostly for vertical scrollbars */
    height: 10px;
    /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #999;
}

::-webkit-scrollbar-track {
    /* Background */
    background: var(--bg-color);
}

.reviewContent .reviewText {
    font-size: 25px;
    color: aliceblue;
    font-family: 'Saira', sans-serif;
}

body {
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
}

a.link {
    color: #093e99;
    text-decoration: underline;
}

.mainHeader {
    position: relative;
    text-align: center;
    font-size: 48px;
    -webkit-text-fill-color: aliceblue;
    -webkit-text-stroke: 2.5px;
    -webkit-text-stroke-color: black;
    font-family: 'Bebas Neue', cursive;
    color: aliceblue;
}

.optionsMovies {
    outline: black solid 3px;
    border-radius: 2px;
    font-size: x-large;
    background-color: #1d2d38;
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}

.optionsMovies:focus {
    outline: black solid 3px;
    border-radius: 2px;
    background-color: #2c4555;
}

.select-selected {
    outline: black solid 3px;
    border-radius: 2px;
}

.center {
    margin: auto;
    text-align: center;
}

.reviewContainer {
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    outline-color: black;
    outline-style: solid;
    outline-width: initial;
    border-radius: 2px;
    height: fit-content;
    max-width: 75%;
    position: relative;
}


.reviewContent .title {
    margin-bottom: 0.25px;
    font-size: 35px;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    font-family: 'Bebas Neue', cursive;
    font-weight: lighter;
    position: relative;
}

@media screen and (min-height:800px) and (min-width:1366px) {
    .reviewContent .title {
        font-size: 60px !important;
    }

    label.mainHeader {
        font-size: 70px;
    }

    select.optionsMovies {
        font-size: 24px;
    }

    .reviewContainer {
        min-height: 580px;
        max-width: 95%;
    }

    .reviewRating {
        text-align: center;
        width: 100%;
    }

    .reviewRating .reviewText {
        font-size: 3rem;
    }

}


@media screen and (max-height:800px) and (min-width:1366px) {

    .reviewContent .title {
        font-size: 60px !important;
    }

    label.mainHeader {
        font-size: 70px;
    }

    select.optionsMovies {
        font-size: 24px;
    }

    .reviewContainer {
        min-height: 450px;
    }

    .reviewRating {
        text-align: center;
        width: 100%;
    }

    .reviewRating .reviewText {
        font-size: 3rem;
    }

}

@media screen and (max-height:655px) and (min-width:1366px) {
    .reviewContainer {
        min-height: 350px;
    }
}

@media screen and (max-height:560px) and (min-width:1366px) {
    .reviewContainer {
        min-height: 300px;
    }
}